@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 91%;
    margin: 0 auto;
}


/*=================================
  Header styling starts here
=================================*/

header {
    width: 100%;
    position: absolute;
    top: 0;
}

nav {
    padding-top: 21px;
    display: flex;
    justify-items: center;
}

.navigation {
    width: 100%;
    display: flex;
}

.nav-item {
    padding: 11px;
    margin-left: 1%;
}

.nav-item a {
    color: #b0b2a6;
    font-size: 16px;
    text-transform: capitalize;
}

.nav-item:nth-last-child(1) a {
    color: #000;
}

.nav-item:nth-last-child(1) {
    padding: 0;
    flex: 1;
    text-align: right;
}

.nav-item:nth-child(3)>a::after {
    padding-left: 10%;
    font-family: 'FontAwesome';
    font-weight: 900;
    color: #b0b2a6;
    content: '\f107';
}

.nav-item:nth-child(3):hover>a::after {
    content: '\f106';
}

.subscriptions {
    display: none;
    flex-direction: column;
}

.subscription a {
    padding: 10px 0;
    display: block;
    color: #fff;
    text-transform: capitalize;
    text-align: right;
}

.nav-item:nth-child(3):hover .subscriptions {
    display: flex;
}

.menu {
    display: none;
}

.sign-btn {
    padding: 12px 4%;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
}

.nav-item:nth-last-child(1)::before {
    padding-right: 4%;
    font-family: 'FontAwesome';
    font-size: 21px;
    font-weight: 900;
    color: #fff;
    content: '\f0ac';
}

.nav-item:hover a {
    color: #000;
}

.nav-item:nth-last-child(1):hover a {
    color: #000;
}

.subscription:hover a {
    color: #000;
}

.sign-btn:hover {
    background-color: #4585d4;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/


/*banner start here*/

.banner {
    padding: 149px 0 434px 0;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    padding-bottom: 54px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.get-started-btn {
    width: 10%;
    padding: 17px 3%;
    border-radius: 50px;
    display: block;
    background-color: #fff;
    color: #4585d4;
    font-size: 21px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}

.get-started-btn:hover {
    background-color: #4585d4;
    color: #fff;
}


/*banner ends here*/


/*intoduction start here*/

.introduction .wrapper {
    padding: 185px 0 194px 0;
    display: flex;
    flex-wrap: wrap;
}

.introduction-title {
    margin-right: 18%;
    flex-basis: 40%;
    font-size: 76px;
    font-weight: 750;
}

.introduction-description {
    flex-basis: 40%;
    font-size: 21px;
    line-height: 1.7;
}

.introduction-description .btn-start {
    padding-top: 43px;
    color: #454545;
}

.btn-start {
    width: 18%;
    padding: 2px 0;
    border-bottom: 2px solid #cdcdcd;
    display: block;
    color: #000;
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
}

.introduction .btn-start {
    width: 25%;
}

.btn-start::after {
    font-family: 'FontAwesome';
    font-weight: 900;
    content: '\f105';
}

.btn-start:hover {
    color: #4585d4;
}


/*introduction ends here */


/*products start here*/

.wix-products {
    width: 98%;
    border: 1px solid #000;
    margin: 0 1%;
    position: relative;
}

.wix-products .wrapper {
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 50%;
}

.product-title.highlight {
    width: 60%;
    padding: 0 20%;
    padding-top: 120px;
    font-size: 38px;
    font-weight: 900;
    text-transform: capitalize;
}

.product-title {
    width: 60%;
    padding: 22px 20% 34px 20%;
    font-size: 34px;
    text-transform: capitalize;
}

.product-description {
    width: 60%;
    padding: 0 20%;
    padding-bottom: 52px;
    font-size: 21px;
}

.product .btn-start {
    margin: 0 0 110px 20%;
}

.product:nth-child(2) {
    background-color: #9e18aa;
    position: relative;
}

.design,
.image-holder,
.change-image,
.setting,
.edit {
    position: absolute;
}

.design:nth-child(1) {
    width: 432px;
    height: 266px;
    top: 193px;
    left: 95px;
    text-indent: -9999px;
    background-color: #d0462b;
}

.design:nth-child(2) {
    width: 82px;
    height: 83px;
    border: 1px solid #fff;
    top: 245px;
    left: 62px;
    background-color: #9e18aa;
    text-indent: -9999px;
}

.design:nth-child(3) {
    width: 142px;
    height: 134px;
    top: 49px;
    top: 154px;
    right: 58px;
    text-indent: -9999px;
    background-color: #cb8f3d;
}

.image-holder {
    width: 428px;
    height: 266px;
    position: relative;
    position: absolute;
    top: 170px;
    right: 74px;
    background-color: #fff;
}

.image-holder-title {
    font-size: 12px;
    text-transform: capitalize;
}

.image-holder-menu {
    font-size: 0;
}

.image-holder figure {
    width: 40%;
    position: absolute;
    left: 119px;
}

.image-holder figure img {
    border-radius: 50%;
}

img {
    width: 100%;
    object-fit: contain;
}

.change-image {
    padding: 8px 2%;
    border: none;
    border-radius: 50px;
    top: 274px;
    left: 0;
    color: #454545;
    text-transform: capitalize;
}

.setting,
.edit {
    top: 274px;
    left: 115px;
    text-indent: -9999px;
    font-family: 'FOntAwesome';
    font-weight: 900;
}

.edit {
    left: 160px;
}

.setting::before {
    padding: 8px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #454545;
    text-indent: 0;
    float: right;
    content: '\f013';
}

.edit::before {
    padding: 8px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #454545;
    text-indent: 0;
    float: right;
    content: '\f1fc';
}

.product:nth-child(3) .visual {
    height: 426px;
    position: relative;
    left: 0;
    background-color: #28b574;
}

.product:nth-child(4) .visual {
    height: 426px;
    position: relative;
    right: 0;
    background-color: #3c4dd4;
}

.product:nth-child(3),
.product:nth-child(4) {
    width: 49.85%;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
}

.product:nth-child(3) {
    border-right: 1px solid #000;
}

.product:nth-child(3) .visual figure:nth-child(1) {
    position: absolute;
    top: 55px;
    left: 132px;
}

.product:nth-child(3) .visual figure:nth-child(2) {
    position: absolute;
    top: 174px;
    left: 294px;
}

.product:nth-child(4) .visual figure {
    position: absolute;
    top: 40px;
    right: 156px;
}

.code {
    width: 58%;
    padding: 110px 0 42px 25%;
    position: relative;
    font-size: 21px;
    color: #fff;
    line-height: 1.8;
}

.visual figure {
    position: absolute;
}


/*wix-products ends here*/


/*feature start here */

.feature-by-wix .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 60%;
    padding: 233px 0 136px 0;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

.title span {
    text-transform: lowercase;
}

.features {
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.feature {
    width: 50%;
    height: 514px;
    display: flex;
    flex-direction: column;
}

.feature-title {
    padding: 0 0 16px 10%;
    display: flex;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    align-items: left;
}

.feature .description {
    padding-left: 10%;
    width: 60%;
    font-size: 18px;
    text-align: left;
}

.art {
    width: 80%;
    height: 311px;
    position: relative;
}

.feature:nth-child(1) .art figure:nth-child(1) {
    position: absolute;
    top: 0;
    left: 152px;
}

.feature:nth-child(1) .art figure:nth-child(2) {
    position: absolute;
    top: 30px;
    left: 20px;
}

.urban-fashion {
    width: 96px;
    padding: 35px 2%;
    position: absolute;
    top: 10px;
    left: 105px;
    background-color: #cb8f3d;
    color: #fff;
    font-size: 21px;
    /* text-align: center; */
    text-transform: uppercase;
}

.multiple figure {
    position: absolute;
}

.multiple {
    width: 72%;
    padding: 10px 0 50px 10%;
}

.multiple figure:nth-child(1) {
    left: 12%;
}

figure:nth-child(2) {
    left: 160px;
}

figure:nth-child(3) {
    right: 0;
}

figure:nth-child(4) {
    top: 113px;
    left: 12%;
}

figure:nth-child(5) {
    bottom: 0;
    left: 12%;
}

figure:nth-child(6) {
    bottom: 0;
    right: 0;
}

figure:nth-child(7) {
    top: 221px;
    left: 133px;
}

.feature:nth-child(2) .feature-title {
    padding-top: 30px;
}

.phone span {
    width: 166px;
    height: 112px;
    display: block;
    position: absolute;
    top: 116px;
    right: 110px;
    background-color: #9e18aa;
    text-indent: -9999px;
}

.phone figure {
    position: absolute;
    right: 140px;
}

.store span {
    width: 98%;
    height: 240px;
    display: block;
    position: absolute;
    left: 9px;
    bottom: 0;
    background-color: #fbbb50;
    text-indent: -9999px;
}

.store {
    padding-top: 40px;
}

.store figure {
    position: absolute;
    left: 0;
    bottom: 31px;
    right: 30px;
}

.feature:nth-child(4) .feature-title,
.feature:nth-child(4) .description {
    padding: 30px 0 0 0;
}


.domains {
  height: 334px;
}

.domains figure {
  position: absolute;
}

.domains span {
  width: 85%;
  height: 290px;
  position: absolute;
  top: 0;
  left: 79px;
  right: 0;
  background-color: #e92f3c;
  text-indent: -9999px;
}

.feature:nth-child(5) figure:nth-last-child(1) {
  top: 42px;
  left: 0;
  right: 45px;
}

.feature:nth-child(5) figure:nth-last-child(2) {
  top: 30px;
  right: 30px;
  bottom: 0;
  left: 43px;
}

.tripper {
  padding: 10px 0 40px 10%;
  position: relative;
}

.tripper figure,.road-tripper {
  position: absolute;
}

.road-tripper{
  width: 60%;
  padding: 0 2%;
  top: 35px;
  right: 0;
  background-color: #fff;
  box-shadow: 1px 1px solid #000;
}
.tripper figure {
  top: 60px;
}

.road-tripper-title {
  padding:10px 0 ;
  font-size: 16px ;
  font-weight: 700;
  text-transform: capitalize;
}

.tripper-description {
  padding: 10px 0;
  font-size: 12px;
}

.feature:nth-last-child(1) {
  height: auto;
}

.feature:nth-last-child(1){
  flex: 1 100%;
  padding: 132px 0 216px 0;
 display: flex;
 align-items: center;
}

.feature:nth-last-child(1) a{
  width: 32%;
  padding: 10px 0;
  border-bottom: 2px solid #000;
  position: relative;
  color: #000;
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.feature:nth-last-child(1) a::after {
  position: absolute;
  top: 35%;
  right: -21px;
  font-family: 'FontAwesome';
  font-size: 21px;
  font-weight: 900;
  content: '\f101';
}

.feature:nth-last-child(1) a:hover {
  color: #4585d4;
}
/*feature end here*/

/*manage business start here*/
.our-services-info {
  display: flex;
}

.business-info {
   display: flex;
   flex-direction: column;
}

/* how to */

.how-to-create-website {
    display: flex;
    align-items: center;
}

.how-to {
    padding: 197px 0 178px 0;
    background-color: #526dd8;
}

.create-website {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.create-steps {
    width: 50%;
}

.steps-title {
    width: 70%;
    padding-bottom: 28px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.our-services-info {
    display: flex;
}

.how-to-title {
    width: 80%;
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    text-transform: capitalize;
}

.how-to-title span {
    text-transform: lowercase;
}

.steps {
    padding-top: 45px;
}

.step {
    width: 80%;
    margin-bottom: 48px;
    font-size: 21px;
    color: #fff;
}


/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/

footer {
    padding: 92px 0 239px 0;
}

.categories-table {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.category-column {
    margin-left: 9%;
}

.products-column,
.companies-column,
.communities-column,
.supports-column,
.category-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.category-column {}

.product-type,
.company-type,
.community-type,
.support-type {
    width: 100%;
    padding-bottom: 15px;
    font-size: 16px;
    text-transform: capitalize;
}

.product-type:nth-child(1),
.company-type:nth-child(1),
.community-type:nth-child(1),
.support-type:nth-child(1),
.website {
    padding-bottom: 30px;
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
}

.website a {
    color: #000;
    font-size: 16px;
}

.website a span {
    font-size: 26px;
    font-weight: 700;
}

.social-links {
    padding-top: 35px;
}

.social-link {
    padding-right: 5%;
}

.social-link a {
    text-indent: -9999px;
}

.social-link a::before {
    color: #656565;
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 21px;
    text-indent: 0;
    float: right;
}

.social-link:nth-child(1) a::before {
    content: '\f39e';
}

.social-link:nth-child(2) a::before {
    content: '\f099';
}

.social-link:nth-child(3) a::before {
    content: '\f0d5';
}

.social-link:nth-child(4) a::before {
    content: '\f167';
}

.social-link:nth-child(5) a::before {
    content: '\f231';
}

.social-link:nth-child(6) a::before {
    content: '\f16d';
}

.social-link:nth-child(7) a::before {
    content: '\f0e1';
}

.social-link:hover a::before {
    color: #000;
}

/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {}


/*media query for 768px starts here*/

@media only screen and (max-width: 768px) {}


/*media query for 540px starts here*/

@media only screen and (max-width: 540px) {}


/*media query for 320px starts here*/

@media only screen and (max-width: 320px) {}