@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 91%;
    margin: 0 auto;
}


/*=================================
  Header styling starts here
=================================*/

header {
    width: 100%;
    position: absolute;
    top: 0;
}

nav {
    padding-top: 21px;
    display: flex;
    justify-items: center;
}

.navigation {
    width: 100%;
    display: flex;
}

.nav-item {
    padding: 11px;
    margin-left: 1%;
}

.nav-item a {
    color: #b0b2a6;
    font-size: 16px;
    text-transform: capitalize;
}

.nav-item:nth-last-child(1) a {
    color: #000;
}

.nav-item:nth-last-child(1) {
    padding: 0;
    flex: 1;
    text-align: right;
}

.nav-item:nth-child(3)>a::after {
    padding-left: 10%;
    font-family: 'FontAwesome';
    font-weight: 900;
    color: #b0b2a6;
    content: '\f107';
}

.nav-item:nth-child(3):hover>a::after {
    content: '\f106';
}

.subscriptions {
    display: none;
    flex-direction: column;
}

.subscription a {
    padding: 10px 0;
    display: block;
    color: #fff;
    text-transform: capitalize;
    text-align: right;
}

.nav-item:nth-child(3):hover .subscriptions {
    display: flex;
}

.menu {
    display: none;
}

.sign-btn {
    padding: 12px 4%;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
}

.nav-item:nth-last-child(1)::before {
    padding-right: 4%;
    font-family: 'FontAwesome';
    font-size: 21px;
    font-weight: 900;
    color: #fff;
    content: '\f0ac';
}

.nav-item:hover a {
    color: #4585d4;
}

.nav-item:nth-last-child(1):hover a {
    color: #000;
}

.subscription:hover a {
    color: #000;
}

.sign-btn:hover {
    background-color: #4585d4;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/


/*banner start here*/

.banner {
    padding: 149px 0 434px 0;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    padding-bottom: 54px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.get-started-btn {
    padding: 17px 3%;
    border-radius: 50px;
    display: block;
    background-color: #fff;
    color: #4585d4;
    font-size: 21px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}

.get-started-btn:hover {
    background-color: #4585d4;
    color: #fff;
}


/*banner ends here*/


/*intoduction start here*/

.introduction .wrapper {
    padding: 185px 0 194px 0;
    display: flex;
    flex-wrap: wrap;
}

.introduction-title {
    margin-right: 18%;
    flex-basis: 40%;
    font-size: 76px;
    font-weight: 750;
}

.introduction-description {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    font-size: 21px;
    line-height: 1.7;
}

.introduction-description .btn-start {
   max-width: 35%;
    padding-top: 43px;
    position: relative;
    color: #454545;
}

.introduction-description .btn-start::after {
    width: 100%;
   height: 2px;
   display: block;
   background-color: #cdcdcd;
   content: "";
}

/* .introduction-description .btn-start::before {
    position: absolute;
    left: 27%;
    font-family: 'FontAwesome';
    font-weight: 900;
    content: '\f105';
} */

.btn-start {
    padding: 4px 3%;
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 21px;
    font-weight: 700;
    text-transform: capitalize;
}

 .btn-start::after {
   width: 100%;
   height: 2px;
   display: block;
   background-color: #cdcdcd;
   content: "";

}

.btn-start::before {
    position: absolute;
    right: 0;
    font-family: 'FontAwesome';
    font-weight: 900;
    content: '\f105';
}

.btn-start:hover {
    color: #4585d4;
}


/*introduction ends here */


/*products start here*/

img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.wix-products {
    width: 98%;
    border: 1px solid #000;
    margin: 0 1%;
    position: relative;
}

.wix-products .wrapper {
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 42%;
}

.product:nth-child(2){
    width: 50%;
}

.description { padding: 78px 0 70px 20%;}

.product-description { line-height: 1.5;}

.product a {
   text-align: left;
}

.product:nth-child(1){
    padding: 121px 0 108px 8%;
}

 .product .product-title:nth-child(1) {
    padding-bottom: 10px;
    width: 60%;
    font-size: 38px;
    font-weight: 900;
    text-transform: capitalize;
}

.product-title {
    width: 100%;
    padding-bottom: 22px;
    font-size: 42px;
    text-transform: capitalize;
}

.product-description {
    width: 80%;
    padding-bottom: 52px;
    font-size: 21px;
}


.product:nth-child(2) {
    background-color: #9e18aa;
    position: relative;
}

.design,
.image-holder,
.change-image,
.setting,
.edit {
    position: absolute;
}

.design:nth-child(1) {
    width: 62%;
    height: 266px;
    top: 193px;
    left: 18%;
    text-indent: -9999px;
    background-color: #d0462b;
}

.design:nth-child(2) {
    width: 10%;
    height: 83px;
    border: 1px solid #fff;
    top: 245px;
    left: 12%;
    background-color: #9e18aa;
    text-indent: -9999px;
}

.design:nth-child(3) {
    width: 40%;
    height: 134px;
    top: 49px;
    top: 154px;
    right: 10%;
    text-indent: -9999px;
    background-color: #cb8f3d;
}

.image-holder {
    width: 62%;
    height: 266px;
    position: absolute;
    top: 170px;
    right: 15%;
    background-color: #fff;
}

.image-holder-title {
    font-size: 12px;
    text-transform: capitalize;
}

.image-holder-menu {
    font-size: 0;
}

.image-holder figure {
    width: 40%;
   margin: 0 auto;
}

.image-holder figure img {
    border-radius: 50%;
}

.change-image {
    padding: 8px 2%;
    border: none;
    border-radius: 50px;
    top: 274px;
    left: 0;
    color: #454545;
    text-transform: capitalize;
}

.setting,
.edit {
    top: 274px;
    left: 115px;
    text-indent: -9999px;
    font-family: 'FOntAwesome';
    font-weight: 900;
}

.edit {
    left: 160px;
}

.setting::before {
    padding: 8px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #454545;
    text-indent: 0;
    float: right;
    content: '\f013';
}

.edit::before {
    padding: 8px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #454545;
    text-indent: 0;
    float: right;
    content: '\f1fc';
}

.product:nth-child(3) .visual {
    height: 426px;
    position: relative;
    left: 0;
    background-color: #28b574;
}

.product:nth-child(4) .visual {
    height: 426px;
    position: relative;
    right: 0;
    background-color: #3c4dd4;
}

.product:nth-child(3),
.product:nth-child(4) {
    width: 49.85%;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
}

.product:nth-child(3) {
    border-right: 1px solid #000;
}

.product:nth-child(3) .visual figure:nth-child(1) {
    position: absolute;
    top: 55px;
    left: 132px;
}

.product:nth-child(3) .visual figure:nth-child(2) {
    position: absolute;
    top: 174px;
    left: 294px;
}

.product:nth-child(4) .visual figure {
    position: absolute;
    top: 40px;
    right: 156px;
}

.code {
    width: 58%;
    padding: 110px 0 42px 25%;
    position: relative;
    font-size: 21px;
    color: #fff;
    line-height: 1.8;
}

.visual figure {
    position: absolute;
}


/*wix-products ends here*/


/*feature start here */

.feature-by-wix .wrapper {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 60%;
    padding: 233px 0 136px 0;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

.title span {
    text-transform: lowercase;
}

.features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.feature {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.feature-title {
    padding: 30px 0 14px 0;
    display: flex;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    align-items: left;
}

.feature .description {
    width: 60%;
    padding: 0;
    font-size: 18px;
    text-align: left;
    line-height: 1.4;
}

.feature:nth-child(1) figure { 
    width:76%;
    padding-left: 3.5%;
}

.feature:nth-child(1) .feature-title,.feature:nth-child(1) .description { padding-left: 7%;}

.feature:nth-child(2) figure { 
    width:66%;
    padding: 0 0 14px 22%;
}

.feature:nth-child(2) .feature-title,.feature:nth-child(2) .description { padding-left: 22%;}

.feature:nth-child(3) figure {
     width:24%;
     padding-left: 38%;
    }

.feature:nth-child(3) .feature-title,.feature:nth-child(3) .description { padding-left: 21%;}

.feature:nth-child(4) figure { 
    width:82%;
    padding-top: 110px;
}


.feature:nth-child(5) figure {
    width:80%;
   }

.feature:nth-child(5) .feature-title,.feature:nth-child(5) .description { padding-left: 14%;}

.feature:nth-child(6) figure {
    width:86%;
    padding: 76px 0 0 14%;
   }

.feature:nth-child(6) .feature-title,.feature:nth-child(6) .description { padding-left: 14%;}

.feature:nth-last-child(1) {
  height: auto;
}

.feature:nth-last-child(1){
  flex: 1 100%;
  padding: 132px 0 216px 0;
 display: flex;
 align-items: center;
}

.feature:nth-last-child(1) a{
  padding: 10px 0;
  border-bottom: 2px solid #000;
  position: relative;
  color: #000;
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.feature:nth-last-child(1) a::after {
  position: absolute;
  top: 35%;
  right: -21px;
  font-family: 'FontAwesome';
  font-size: 21px;
  font-weight: 900;
  content: '\f101';
}

.feature:nth-last-child(1) a:hover {
  color: #4585d4;
}


/*feature end here*/

/*manage business start here*/
.our-services-info {
  display: flex;
}

.business-info {
    width: 50%;
    padding-bottom: 115px;
   display: flex;
   flex-direction: column;
}

.business { 
    width: 100%;
    padding-left: 8%;
}

.business:first-child { padding-bottom: 121px;}

.manage-busines-title {
    width: 75%;
    padding-bottom: 52px;
    font-size: 42px ;
    font-weight: 700;
    text-transform: capitalize;
}

.manage-busines-title span { text-transform: lowercase;}

.business-description { 
    padding-bottom: 60px;
    font-size: 21px;
    line-height: 1.7;
}

/* how to */

.how-to-create-website {
    display: flex;
    align-items: center;
}

.how-to {
    padding: 197px 0 178px 0;
    background-color: #526dd8;
}

.create-website {
    width: 50%;
    padding-left: 4%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.create-steps {
    width: 50%;
}

.steps-title {
    width: 80%;
    padding-bottom: 28px;
    color: #fff;
    font-size: 22px;
    font-weight: 900;
    position: relative;
}

.steps-title::after {
    width: 10%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    content: "";
}

.our-services-info {
    display: flex;
}

.create-website .btn-start { 
   margin-right: 10%;
    color: #fff;
}

.create-website .btn-start:hover { color: #000;}


.how-to-title {
    width: 80%;
    padding-bottom: 128px;
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    text-transform: capitalize;
}

.how-to-title span {
    text-transform: lowercase;
}

.steps {
    padding-top: 45px;
}

.step {
    width: 90%;
    margin-bottom: 48px;
    font-size: 21px;
    color: #fff;
}

.manage-business { position: relative;}

.manage-business figure{
    position: absolute;
    top: 0;
    right: 0;
}

/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/

footer {
    padding: 92px 0 239px 0;
}

footer .wrapper { width: 80%;}

.categories-table {
    display: flex;
}

.category-column {
    width: 20%;
    justify-items: center;
}

.category-column:last-child { width: 30%;}

.products-column,
.companies-column,
.communities-column,
.supports-column,
.category-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
}



.product-type,
.company-type,
.community-type,
.support-type {
    width: 100%;
    padding-bottom: 15px;
    font-size: 16px;
    text-transform: capitalize;
}

.product-type:nth-child(1),
.company-type:nth-child(1),
.community-type:nth-child(1),
.support-type:nth-child(1),
.website {
    padding-bottom: 30px;
    font-size: 21px;
    font-weight: 700;
    text-transform: capitalize;
}

.website-description { padding-bottom: 25px;}

.website a {
    color: #000;
    font-size: 16px;
}

.website a span {
    font-size: 26px;
    font-weight: 700;
}

.social-link {
    padding-right: 3%;
}

.social-link a {
    text-indent: -9999px;
}

.social-link a::before {
    color: #656565;
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 21px;
    text-indent: 0;
    float: right;
}

.social-link:nth-child(1) a::before {
    content: '\f39e';
}

.social-link:nth-child(2) a::before {
    content: '\f099';
}

.social-link:nth-child(3) a::before {
    content: '\f0d5';
}

.social-link:nth-child(4) a::before {
    content: '\f167';
}

.social-link:nth-child(5) a::before {
    content: '\f231';
}

.social-link:nth-child(6) a::before {
    content: '\f16d';
}

.social-link:nth-child(7) a::before {
    content: '\f0e1';
}

.social-link:hover a::before {
    color: #000;
}

footer a{  color: #454545;}

footer a:hover { color: #4585d4;}

/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {
    .sign-btn { padding: 12px 8%;}

    .introduction .wrapper { flex-direction: column;}

    .introduction-title {
        width: 100%;
        padding-bottom: 40px;
        margin-right: 0;
        text-align: center;
    }

    .introduction .btn-start { 
        width: 25%;
        margin: 0 auto;
    }

    .code { padding-top: 0;}


    .product .product-title:nth-child(1) { width: 100%;}

    .manage-business figure { width: 40%;}

    .how-to-create-website { 
        flex-direction: column;
        justify-content: center;
    }

    .create-website {
        width: 100%;
       padding: 0  0 80px 0 ;
        text-align: center;
    }
    .how-to-title {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }

    .create-steps { 
        width: 80%;
        margin: 0 auto;
    }

    .footer .wrapper { width: 80%;}

    .categories-table { 
        flex-wrap: wrap;
    }

    .category-column{ 
        width: 50%;
        padding-bottom: 40px;
    }

    .products-column,.companies-column,.communities-column,
    .supports-column { text-align: center;}

    .category-column:last-child { 
        width: 100%;
      align-items: center;
    }

    .social-links { 
        width: 80%;
        text-align: center;
    }
}

/*media query for 768px starts here*/

@media only screen and (max-width: 768px) {
    .navigation { display: none;}

    .menu { 
       margin-left: 80%;
        display: block;
       text-indent: -9999px;
    }

    .menu::before { 
        color: #fff;
        font-family: 'FontAwesome';
        font-weight: 900;
        font-size: 21px;
        content: '\f0c9';
        text-indent: 0;
        float: right;
    }

    .menu:hover::before { color: #3c4dd4;}

    .products { flex-direction: column;}

    .product-title:nth-child(1),.product { 
        width: 90%;
        padding: 108px 0;
        border: none;
    }

    .product-title , .product-description { 
        width: 70%;
        padding-right: 0;
    }

    .product:nth-child(2) {
         width: 100%;
         height: 400px;
        }

    .wix-products { border: none;}

    .product-title.highlight { 
        padding-left: 0;
        padding-right: 0;
    }

    .product:nth-child(3),.product:nth-child(4){ width: 100%;}

    .social-links { width: 50%;}

    .social-link:last-child { padding-right: 0;}
}


/*media query for 540px starts here*/

@media only screen and (max-width: 540px) {
    .title { width: 100%;}

    .code  { 
        width: 100%;
        padding-left: 0;
        margin: 0 auto;
    }

    .how-to-title { 
        width: 100%;
        font-size: 60px;
    }

    .social-links { width: 60%;}

    .introduction .btn-start { width: 35%;}
}


/*media query for 425px starts here*/

@media only screen and (max-width: 425px) {

    .introduction-title{ font-size: 32px;}

    .title { font-size: 32px;}

    .introduction .btn-start { 
        max-width: 50%;
        width: 40%;
    }

    .features {      flex-direction: column; }
    .feature { 
        width: 90%;
        padding-bottom: 40px;
    }

    .feature:last-child a{font-size: 28px; }

    .our-services-info  { flex-direction: column;}

    .business { width: 100%;}

    .social-links { width: 80%;}

    .product-title,.product-title.highlight,.product-description { 
        
        width: 100%;
        padding: 40px 0;
    }

    .product:nth-child(1) { 
        padding-left: 0;
    }

}